<%= form_for @user do |user_form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= user_form.label :email %><br />
    <%= user_form.text_field :email %>
  </div>
  <div class="field">
    <%= user_form.label :password %><br />
    <%= user_form.text_field :password %>
  </div>

  Ingresa tus regalones
  <div id="gifts">
    <% @user.gifts.each do |@gift|%>
        <%= render :partial => 'gifts/gift' %>
    <% end %>
  </div>

  <div class="actions">
    <%= user_form.submit %>
  </div>
<% end %>
