<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :offer_id %>
<table>
  <tr>
    <td>
      Descripci&oacute;n
    </td>
    <td>
      Cantidad
    </td>
    <td>
      Precio
    </td>
    <td>
      Total
    </td>
  </tr>
  <tr>
    <td>
      <%= @purchase.offer_description %>
    </td>
    <td>
      <%= f.number_field :quantity, {:size => 1000} %>
    </td>
    <td>
      <%= standard_price_format(@purchase.price) %>
    </td>
    <td>
      <%= standard_price_format(@purchase.price) %> <!-- TODO actualizar el total segun la cantidad de items -->
    </td>
  </tr>
  <tr>
    <td>
      <%= f.radio_button :fop_id, @redcompra.id %><%= @redcompra.name %>
    </td>
    <td colspan="3">
      <%= image_tag(@redcompra.image_url) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.radio_button :fop_id, @t_credito.id %><%= @t_credito.name %>
    </td>
    <td colspan="3">
      <%= image_tag(@t_credito.image_url) %>
    </td>
  </tr>

</table>



  <div class="actions">
    <%= f.submit 'Comprar' %>
  </div>
<% end %>
