<%= hidden_field 'gift[]', 'id' %>
<p>Nombre: <%= text_field 'gift[]','name' %>
Fecha: <%= date_select 'gift[]', 'date' %></p>
<p>Precio mínimo<%= number_field 'gift[]', 'min_price' %>
Precio máximo<%= number_field 'gift[]', 'max_price' %></p>

<% aux_count = 0 %>
<% Category.find(:all, :order => :name).each do |category| %>
  <% if aux_count == 0 %>
    <p>
  <%  end %>
  <% id = @gift.id.to_s + '_' + category.id.to_s %>
  <%  checked = ""
      checked = "checked" unless @gift.categories.find_by_id(category.id).nil?
  %>
  <%= category.name %><%= check_box 'gift_categories', id, :checked => checked %>
  <%  if aux_count == 4 %>
      </p>
      <% aux_count = 0 %>
  <% end %>
  <% aux_count+= 1 %>

<% end  %>
