<%= form_for(@form_of_payment) do |f| %>
  <% if @form_of_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form_of_payment.errors.count, "error") %> prohibited this form_of_payment from being saved:</h2>

      <ul>
      <% @form_of_payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
