<h1>Listing form_of_payments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @form_of_payments.each do |form_of_payment| %>
  <tr>
    <td><%= form_of_payment.name %></td>
    <td><%= form_of_payment.image_url %></td>
    <td><%= link_to 'Show', form_of_payment %></td>
    <td><%= link_to 'Edit', edit_form_of_payment_path(form_of_payment) %></td>
    <td><%= link_to 'Destroy', form_of_payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form of payment', new_form_of_payment_path %>
