<div class="product">
  <div class="description"><%= link_to product.description, product %></div>
  <div class="price"><%= product.price %> , <%= product.offered_price %></div>
  <div class="image"><%= link_to image_tag(product.image_url, :width => 100, :height => 100), product %></div>
  <div class="buy"><%= link_to 'Comprar' %></div>
</div>